
    
h3:first-child {
    color: pink;
}

#greycol {
    color: grey;
}
div ~ div {
    color: red;
}
div ~ p {
    color: green;
}
.yellow {
    color: yellow;
}
.a:hover {
    color: brown;
}
.b:hover {
    color: blue;

}
.c:hover {
    color: blanchedalmond;
}
.d:hover{
    color: purple;
}
.e:hover {
    color: violet;
}